@{
    ViewBag.Title = "Acerca de Ottone Design";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Una empresa joven dedicada al diseño y confección de piezas unicas para el cuarto de baño y el hogar. <br/><br />

    Ofrecemos una gran gama de lineas de accesorios en muchas terminaciones y materiales.<br /><br />

    Nuestra principal materia prima, bronce de la mas alta calidad.
</p>
