@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Camarones 2409<br />
    Paternal, Capital Federal - Prov. de Buenos Aires<br />
    <abbr title="Teléfono">T:</abbr>
    011 - 4583-6177
</address>

<address>
    <strong>Ventas:</strong>   <a href="mailto:ventas@ottonedesign.com.ar">ventas@ottonedesign.com.ar</a><br />
    <strong>Revendedores:</strong> <a href="mailto:r.ferreyra@ottonedesing.com.ar">r.ferreyra@ottonedesing.com.ar</a>
</address>